.container {
    max-width: 1090px;
    margin: 10rem auto;
}

.container:focus {
    outline: none;
}

.title {
    text-align: center;
    font-size: 4rem;
}

.debug {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 1em;
    top: 50%;
    left: 50%;
    position: fixed;
}
.debug span {
    color: white;
    display: block;
}
